html
  head
    title= title
  body
    h1= message
    <p>We are a global consortium of didgeridoo dealers</p>
    <p>This is our super awesome website that everone goes to!</p>
    a(href='/store') Buy stuff!
    <br />
    a(href='/ceo') See our CEO!
